/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
app/DoctrineMigrations/
app/Resources/views/Invitation/
src/AppBundle/Command/
src/AppBundle/Controller/InvitationController.php
src/AppBundle/Entity/Congregation.php
src/AppBundle/Entity/Event.php
src/AppBundle/Entity/Invitation.php
src/AppBundle/Entity/ListNewUsers.php
src/AppBundle/Entity/ListNewUsers.php~
src/AppBundle/Entity/Meeting.php
src/AppBundle/Entity/Room.php
src/AppBundle/Entity/Task.php
src/AppBundle/Entity/Task.php~
src/AppBundle/Entity/User.php~
src/AppBundle/Form/InvitationType.php
src/AppBundle/Repository/
src/AppBundle/Resources/
src/AppBundle/Tests/
src/UserBundle/Resources/
src/UserBundle/UserBundle.php
tests/UserBundle/
web/img/congrats.jpg
web/img/home_way.jpg
web/img/list.jpg
web/js/plugins/daterangepicker.js
web/material-kit-html-v2.0.2.zip
web/material-kit-pro-html-v2.0.2.zip
web/x_full_calendar/
