{% extends 'base.html.twig'%}
{% block body %}
    <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('{{ asset('img/home_way.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1>ALCTJV</h1>
                        <h3>Interface de Gestion du Complexe de Chevilly</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
    </div>
{% endblock %}